numpy
pandas
matplotlib
seaborn
geopandas
rasterio
xarray
rioxarray
openeo
sentinelhub
leafmap
shapely
h5netcdf
netcdf4
pystac
scikit-learn
rio-stac
jupyter-book
sphinx-exercise
openeo-processes-dask[implementations]
openeo-pg-parser-networkx
